* {
	position: relative;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	color: #2d2d3c;
}

.toolbar {
	padding: 10px;
	background: #24242C;
	font-family: 'Consolas', monospace;
	font-size: 0px;
}
	.button-set {
		display: inline-block;
		margin: 0 10px;
	}
		.toolbar button {
			border: none;
			outline: none;
			padding: 5px 20px;
			font-size: 17px;
			background: transparent;
			color: #fff;
		}

.paper {
	height: 300vh;
	width: 100%;
	font-family: 'Quando', 'Georgia', serif;
	font-size: 25px;
}
	.note {
		position: absolute;
		z-index: 10;
	}
	.note.selected {
		z-index: 100;
	}
		.note .note-rendered {
			display: block;
			margin: 0;
		}
		.note .note-source {
			display: none;
			border: none;
			outline: none;
			resize: none;
		}
		.note.selected .note-rendered {
			display: none;
		}
		.note.selected .note-rendered,
		.note .note-source	{
			width: 10em;
			height: 2.1em;
			padding: 5px 15px;
			letter-spacing: 0.2px;
		}
		.note.selected .note-source {
			display: block;
			overflow: hidden;
			resize: both;
			background: #F7F7F7;
		}
