* {
	position: relative;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Consolas', monospace;
	font-size: 16px;
	line-height: 1.5;
	color: #2d2d3c;
}

.paper {
	height: 300vh;
	width: 100%;
}

.note {
	position: absolute;
	background: #eee;
	width: 10em;
	height: 1.5em;
	padding: 5px 15px;
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
	z-index: 10;
}
.note.selected {
	border: 1px solid #2d2d3c;
	resize: both;
	z-index: 100;
}
